*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(
    pink, 
    purple
  );
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 0.5rem;
 }

 .buttons2{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 0.5rem;
 }

 .butto{
  background-color: #292D36;
    padding: 0 1rem 1rem 1rem;
    border-radius: 1.5rem 1.5rem 0 0;
    box-shadow: 0px -2px 16px rgba(0, 0, 0, 0.2)
 }

 #equal{
    grid-row: span 2;
 }

 /* #ans{
  grid-column: span 2;
 } */

 #display{
    border: none;
    font-size: 2.8rem;
    background-color: #22252d;
    min-height:70px;
    padding: 1.5rem;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    flex: 1 1 0%;
    transition: 2s;
 }

 #display.input{
  color: white;
  margin-top: 2px;
 }

 #displayTwo{
  border: none;
  font-size: 2.8rem;
  background-color: #111111;
  min-height:70px;
  padding: 1.5rem;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
  flex: 1 1 0%;
  transition: 2s;
 }

 .calculator{
    background-color: #22252d;
    width: 100%;
    max-width: 375px;
    height: 470px;
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    overflow: hidden;
 }

 .off{
  padding: 0.15rem;
  border-radius: 0.5rem;
  margin-bottom: 10px;
  background-color: #ed5555;
  box-shadow: 0px -2px 16px rgba(248, 24, 24, 0.2)
 }

 .on{
  padding: 0.18rem;
  border-radius: 0.5rem;
  margin-bottom: 10px;
  background-color: green;
  box-shadow: 0px -2px 10px rgba(48, 239, 26, 0.2)
 }

 .shift{
  height: 20px;
  padding: 4px 0.3rem 18px 0.3rem;
  border-radius: 0.5rem;
  font-size: 10px;
  margin-top: 5px;
  color: white;
 }
 
 .time{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   margin-top: 10px;
   background-color: white;
   font-size: 10px;
   font-weight: bold;
   margin-right: 200px;
   box-shadow: 0px -2px 16px rgba(255, 255, 255, 0.2)
 }

 .times{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 10px;
  background-color: white;
  font-size: 10px;
  font-weight: bold;
  margin-right: 200px;
 }

 .promise{
   font-family: cursive;
   margin-bottom: 5px;
   margin-top: 3px;
   margin-left: 20px;
   font-size: 7px;
   font-weight: 600;
   color: white;
 }
 .input{
   font-weight: bold;
    color: black;
    margin-bottom: 0.5rem;
    height: 40px;
    font-size: 1.25rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }

 button{
  cursor: pointer;
  display: block;
  background-color: #262933;
  transition: 0.3s;
  user-select: none;
 }

 .keys{
  position: relative;
  top: 50%;
  left: 50%;
  border-radius: 0.5rem;
  transform: translate(-50%, -50%);
  padding: 4%;
 } 

 button:hover{
  box-shadow: inset 0px 0px 8px rgba(255, 255, 255, 0.2);
 }

 ::-webkit-scrollbar {
  width: 7px
}

::-webkit-scrollbar-track {
  background: red;
}

::-webkit-scrollbar-thumb {
  background: yellow;
}